@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #000;
  color: white;
  margin: 0;
}

#newYear {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  margin: auto;
  font-weight: 500;
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

h2 {
  margin: 0;
  font-weight: 500;
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.container {
  font-weight: 500;
  font-size: 5rem;
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.submit {
  background-image: url(/unknown.png);
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-radius: 0.375px;
  border: 0.5px solid rgb(73, 73, 73);
  cursor: pointer;
}

.content-box-wrap {
  color: #e5edf5;
  font-family: 'Oswald', sans-serif;
  border-collapse: collapse;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.content-box {
  border-collapse: collapse;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: inherit;
  border: 2px solid #30363d;
  border-radius: 6px;
  margin: 20px 0;
  padding: 0 15px 20px 0;
  width: 100%;
  word-break: break-all;
}

.box-info {
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
  border-collapse: collapse;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
}

.box-count {
  font-size: 14px;
  border-collapse: collapse;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  margin-right: 8px;
  padding: 0;
  vertical-align: inherit;
}

.box-date {
  border-collapse: collapse;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: inherit;
  color: #83888e;
  font-size: 12px;
  margin-top: -2px;
}

.box-text {
  border-collapse: collapse;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: inherit;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 15px;
}

.box-content-text {
  border-collapse: collapse;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: inherit;
  color: #e5edf5;
  font-size: 15px;
  line-height: 28px;
}

canvas {
	cursor: crosshair;
	display: block;
}

@media (max-width: 540px) {
  .container {
    font-size: 3.2rem;
  }

  textarea {
    max-width: 350px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  input[type="text"] {
    max-width: 350px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .submit {
    max-width: 350px;
  }

  #newYear > h1 {
    font-size: 3rem;
  }
}
